
<div class="create-after">

<h5　class="create">Title:

<p> %=@book.title%></p>

</h5>

<h5 class="create">Body:
<%=@book.body%></h5>

</div>

<%=link_to 'Edit',edit_book_path(@book)%>
<%=link_to 'Back',books_path(@book)%>
<%=link_to 'Destroy',book_path(@book),method: :delete,"data_confirm"=>"Are you sure?" %>

