// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

.title-book{
  margin:33px 0 0 33px;
  font-size:18px;

}

.index-list{
  display:flex;
  justify-content:center;
  list-style:none;
  margin:10px;
  font-weight:bold;
  font-size:10px;
}

.list1{
  margin:0 100px 0 0;
}

.main-text{
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  margin:0 33px;
}

.text-title{
  margin-right:100px;
  border:2px solid red;
}

.text-body{
  border:2px solid blue;
}

.create-after{
  margin:33px;

}

.create1{
  margin:20px;
}

.create2{
  margin:20px;
}

.edit-box{
  margin:33px;
}

.edit-top{
  margin-bottom:10px;
}

.edit-body{
  margin-top:10px;
}

.update-botan{
  margin-top:10px;
  margin-bottom:10px;
}