// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}

body{
  margin:33px;
}
.new-box{

  margin:50px;
}

.create-after{
  margin:33px;

}

.create1{
  margin:20px;
}

.create2{
  margin:20px;
}

.edit-box{
  margin:33px;
}

.edit-top{
  margin-bottom:10px;
}

.edit-body{
  margin-top:10px;
}

.update-botan{
　
}

